doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Златоустовское Телевидение
    link(rel="stylesheet" href="css/style.css")
    script(src="js/script.js")
  body
    footer.footer
      .footer__content
        p Подписывайтесь на нас:
        ul.footer__social-icons
          li
            a(href="https://www.youtube.com/")
              img(src="img/youtube.svg" alt="Иконка Ютуба")
          li
            a(href="https://www.facebook.com/")
              img(src="img/facebook.svg" alt="Иконка Фейсбука")
          li
            a(href="https://vk.com/feed")
              img(src="img/vk.svg" alt="Иконка ВК")
          li
            a(href="https://ok.ru/")
              img(src="img/ok.svg" alt="Иконка Одноклассников")
          li
            a(href="https://instagram.com/")
              img(src="img/instagram.svg" alt="Иконка Инстаграма")
        .site-line
        .contacts
          p © 2021 «Златоустовское телевидение» Политика конфиденциальности
          img(src="img/xpage.svg" alt="Иконка XPage")
