doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Златоустовское Телевидение
    link(rel="stylesheet" href="css/style.css")
    script(src="js/script.js")

  body
    header
      div.header__menu
        button.header__burger-menu(aria-label="Меню" type="button")
          img.menu-icon(src='img/burger.svg')
        button.header__button Предложить новость
        img.header__logo(src="img/logo.svg" alt="златоустовское телевидение")
        img.header__notifications(src="img/megaphone.svg" alt="уведомления")
        div.header__phone-and-search
          a.header__phone(href="tel:83513651711") 8 (3513) 65-17-11
          img.header__search(src="img/search.png" alt="поиск")

      nav.header__nav
        ul.nav__list
          li
            a.nav__link(href="news-layout.html") Новости
          li
            a.nav__link(href="#") Телепроекты
          li
            a.nav__link(href="#") Реклама
          li.dropdown
            a.nav__link(href="#") Онлайн
              span.arrow &#9013;
            .dropdown-content
              a(href="#") Ссылка 1
              a(href="#") Ссылка 2
              a(href="#") Ссылка 3
          li
            a.nav__link(href="#") Программа передач
          li.dropdown
            a.nav__link(href="#") Ещё
              span.arrow &#9013;
            .dropdown-content
              a(href="#") Ссылка 1
              a(href="#") Ссылка 2
              a(href="#") Ссылка 3


        ul.nav__social-icons
          p.nav__link Подписывайтесь на нас:
            div.nav__social--icons-list
              a.social-icons__item(href="https://www.youtube.com/")
                img(src="img/youtube.png" alt="ютуб")
              a.social-icons__item(href="https://www.facebook.com/")
                img(src="img/facebook.png" alt="фейсбук")
              a.social-icons__item(href="https://vk.com/feed")
                img(src="img/vk.png" alt="вк")
              a.social-icons__item(href="https://ok.ru/")
                img(src="img/ok.png" alt="одноклассники")
              a.social-icons__item(href="https://.instagram.com/")
                img(src="img/instagram.png" alt="инстаграм")

    div.site-line
