/*Общие стили для страницы*/
* {
  font-family: "New Frank", sans-serif;
  margin: 0;
  padding: 0;

  color: #373334;
}

body {
  background-color: #F2F2F2;
}
/*HEADER*/

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.site-header {
  margin: 53px 200px 0;
}

.site-header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;   
  margin-bottom: 60px; 
}

.site-header__button {
  width: 224px;
  height: 50px;
  border-radius: 56px;
  border: 2px solid #9F0023;
  color: #9F0023;

  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

#phone-number {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;

  padding-right: 44px;
}

.site-header__info {
  display: flex;
  align-items: center; 
}

.site-search {
  width: 18px;
  height: 18px;
}


/*NAVIGATION*/
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.site-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  padding-right: 48px;
  
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;

  padding: 10px 18px;
  position: relative;
}

/* Стили для стрелки */
.arrow {
  margin-left: 8px;
  font-size: 12px;
}

/* Стили для выпадающего меню */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-left: 2px solid #373334; 
  border-right: 2px solid #373334; 
  border-top: 2px solid #373334; 
}

/* Стили для ссылок в выпадающем меню */
.dropdown-content a {
  color: #373334;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid #373334;
}


.dropdown-content a:hover {
  color: #9F0023;
}

/* Показывать выпадающее меню при наведении на основную ссылку */
.dropdown:hover .dropdown-content {
  display: block;
}


.site-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
}

.social-icons {
  padding-left: 16px;
}


.site-line {
  width: 100%;
  height: 4px; 
  background: #373334;
}



/*SECTION 1*/

.site-content {
  margin: 0 200px 0;
}

.main-section {
  margin: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-section {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.content-tags {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color:#9F0023;
  padding-left: 5px;
}

.content-text {
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  width: 730px;

  padding-bottom: 60px;
}

.content-button {
  width: 120px;
  height: 50px;
  border-radius: 56px;
  border: 2px solid #373334;
  color: #373334;

  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 90px;
  width: 10%;
}

.news-button {
  width: 165px;
  height: 50px;
  border-radius: 56px;
  border: 2px solid #373334;
  color: #373334;

  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.heading {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  margin-top: 80px;
  margin-bottom: 55px;
}


.news-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.news-card {
  width: calc(33.33% - 10px); 
  margin-bottom: 80px; 
}

.card-image {
  width: 469px;
  height: 264px;

  padding-bottom: 20px;
}

.card-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.card-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.8px;
  letter-spacing: 0.05em;
  color: #959595;

  padding-left: 39px;
}


.card-text {
  width: 80%;

  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  padding-top: 12px;
  padding-bottom: 40px;
}


.news-image {
  width: 100%;
  height: 400px;
  padding-bottom: 97px;
}


.vector-heading {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  margin-top: 97px;
  margin-bottom: 96px; 
}

.vector {
  margin-bottom: 12px;
}
.vector-cards {
  display: flex;
  justify-content: center;
}

.vector-card {
  width: calc(33.33% - 10px); 
}

.vector_arrow {
  margin-left: 20px;
}

.vector-button {
  width: 200px;
  height: 50px;
  border-radius: 56px;
  border: 2px solid #373334;
  color: #373334;

  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 16px;

  margin-top: 80px;
  margin-bottom: 96px;
}

.gray-video {
  width: 100%;
  height: 1013px;
  background-color: #373334;
}

.gray-video h1 {
  color: #FFFFFF;
  margin-bottom: 64px;
}

.gray-video h3 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
}

.gray-video p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  margin-right: 70px;
}

.gray-container {
  padding: 120px 200px;
}

.video-table-container {
  display: flex;
}

.video-column,
.table-column {
  flex-grow: 1;
}

.gray-table {
  display: flex;
  flex-direction: column;
}

.bold-white-line {
  width: 755px;
  height: 4px;
  background: #fff;
}

.white-line {
  width: 755px;
  height: 1px;
  background: #fff;
}

.gray-button {
  width: 165px;
  height: 50px;
  font-size: 16px;
  background-color: #373334;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 56px;
  text-align: center;
  text-decoration: none;
}

.gray-films {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.white-arrow {
  margin-left: 215px;
}

.video-container {
  margin-bottom: 71px;
}

video {
  display: block;
  width: 726px;
  height: 408px;
}

video::-webkit-media-controls-panel {
  background-color: rgba(55, 51, 52, 0.5);
  color: #fff;
}





footer {
  height: 324px;
  margin: 60px 200px 0;
}


.footer-social-icons {
  display: flex;
  flex-direction: column;
}

.footer {
  font-size: 24px;
  font-weight: 400;
  line-height: 27.6px;
  margin-bottom: 16px;
}

.footer-sic img {
  width: 23px;
  height: 23px;
  margin-bottom: 52px;
}

footer p {
  width: 20%;
}



.contacts {
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
}






.all-news h1 {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 5px;
font-size: 70px;
font-weight: 700;
line-height: 87.5px;

}



.links a {
  color: #959595;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;


}


.links {
   margin-bottom: 55px;

}